.cart-list {
  width: 85%;
  list-style: none;
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.item-image {
  width: 100px;
  margin-right: 20px;
}

.buttons {
  margin-left: auto;
  display: flex;
  width: 250px;
  align-items: flex-end;
  justify-content: space-evenly;
}

.item-count {
  width: 60px;
  appearance: none;
  -moz-appearance: textfield;
}

.remove-button {
  /* width: 150px; */
}
