.item {
  list-style: none;
  width: 200px;
  height: 400px;
}

.image {
  width: 150px;
  height: auto;
}

.cart-buttons {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-input {
  width: 50px;
}

.add-to-cart-btn {
  width: 100px;
}
