.nav {
  background-color: lightgray;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.link-list {
  display: flex;
  list-style: none;
}

.link {
  text-decoration: none;
}

.linkItem {
  margin-left: 20px;
  color: black;
  text-decoration: none;
}
